body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #404040;
	font-size: 1em;
	line-height: 1.5em;
}

h1 {
	font-size: 2.3em;
	line-height: 1.9em;
	margin: 5px 0;
	text-align: center;
	font-weight: 900;
}
 
p {
	margin: 0 0 1.5em 0;
}

img {
	max-width: 64%;
	height: auto;
}

#main-header {
	background: #333;
	color: white;
	height: 80px;
	box-shadow: 0 0 10px rgba(255,0,0,.50);
}
	#main-header a {
		color: white;
	}

	#main-header a:hover {
		color: red;
	}

#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: red;
	}

	#logo-header .site-name {
		display: block;
		font-weight: 900;
		font-size: 1.2em;
	}

	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: red;
	}

nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}

		nav ul li {
			display: inline-block;
			line-height: 80px;
		}

			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}

				nav ul li a:hover {
					background: black;
				}

				#main-content {
	background: #181818;
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(255,0,0,.50);
}

	#main-content header,
	#main-content .content {
		padding: 40px;
	}

	#main-footer {
		background: #333;
		color: white;
		text-align: center;
		padding: 30px;
		margin-top: 500px;
		box-shadow: 0 0 10px rgba(255,0,0,.50);
	}
		#main-footer p {
			margin: 0;
		}

		#main-footer a {
			color: white;
}
